<section id="section-destinatarios" class="text-light " data-bgimage="url({{ fields.field_des_imagen_fondo.content }}) fixed top" style="padding: 0px; background: url('{{ fields.field_des_imagen_fondo.content }}') center top / cover fixed;">
  <div class="wm wm-border dark wow fadeInDown animated" style="top: 99px; height: 0px; visibility: visible; animation-name: fadeInDown; background-size: cover;">{{ fields.title.content }}</div>
  <div class="" style="padding: 90px 0 90px 0;">
    <div class="container" style="padding: 90px 0 90px 0;">
      <div class="row">
        <div class="col-md-6 offset-md-3 text-center wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp; background-size: cover;">
          <h1>{{ fields.title.content }}</h1>
          <div class="separator" style="background-size: cover;"><span><i class="fa fa-square"></i></span></div>
          <div class="spacer-single" style="background-size: cover;"></div>
        </div>

        <div class="col-md-12 col-xs-6 wow fadeIn lead" data-wow-delay=".5s">

          {{ fields.body.content }}
        </div>
      </div>
    </div>
  </div>
</section>
